@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #0a0a0a;
  --bg-card: #111111;
  --bg-hover: #1a1a1a;
  --accent: #7c3aed;
  --accent-light: #a78bfa;
  --accent-dim: rgba(124, 58, 237, 0.15);
  --text-primary: #ffffff;
  --text-secondary: #888888;
  --text-muted: #444444;
  --border: #222222;
  --border-accent: #7c3aed;
  --danger: #ef4444;
}

body {
  background-color: var(--bg);
  color: var(--text-primary);
  font-family: 'Space Grotesk', sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: var(--accent);
  color: #fff;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--bg);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 2px;
}

textarea, input {
  font-family: 'Space Grotesk', sans-serif;
}